.navbar-menu{
        background-color: #02B294;

}

.icon-bar{
    background-color: black;
}

.fuente{
     color: white;
     font-family: cursive;
     font-size: 20px;
    
}

.padd-top2{
    padding-top: 2%;
}

.font-serif{
    font-family: "Times New Roman", Georgia, Serif;
}
